extends ./layout/index

block slider 
    .slider     
        h1 Rio de Janeiro
        em aventura

block contenido
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros
        .row 
            .col-md-6
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium voluptatum vitae consectetur non. Officiis quos ducimus libero, corporis dicta earum, a, quisquam veritatis saepe sit quia facilis eaque maiores ratione.Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium voluptatum vitae consectetur non. Officiis quos ducimus libero, corporis dicta earum, a, quisquam veritatis saepe sit quia facilis eaque maiores ratione.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="sobre nosotros", class="img-fluid")
        include ./layout/bloque_viajes
    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido
                        h3 %5 de Descuento 
                        p.titulo Viaje a Canada
                        p.fecha 20 de Mayo de 2023 - 28 de marzo de 2023
                        p.precio $2,500 USD
    .container 
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales
        